.minha-div {
    position: relative;
    width: 80%;        /* Define a largura para 80% da largura da tela */
    margin: 0 auto;    /* Margem automática para centralizar */
    padding-top:65px;
}

.meu-paragrafo {
    text-align: left;
    max-width: 600px; /* ou outra medida que prefira */
    
}


#navbar-example3 {
    position: fixed;
    top: 23%;
    max-height: 100vh; /* Altura máxima para garantir o scroll */
    max-height: 400px;
    height: 100%;
    width: 320px;
    overflow-y: auto; /* Habilita a barra de rolagem vertical se necessário */
    border: 0px solid #1C1C1C;
    background-color: #1C1C1C;
    padding: 10px;
}
/* Estilização para garantir que a barra de navegação se ajuste ao conteúdo responsivamente */

@media (max-width: 1200px) { #navbar-example3 {width: 270px; } }
@media (max-width: 1150px) { #navbar-example3 {width: 260px;} }
@media (max-width: 1100px) { #navbar-example3 {width: 250px;} }
@media (max-width: 1050px) { #navbar-example3 {width: 240px;} }
@media (max-width: 1000px) { #navbar-example3 {width: 230px;} }
@media (max-width: 950px) { #navbar-example3 {width: 220px;} }
@media (max-width: 900px) { #navbar-example3 {width: 210px; } }
@media (max-width: 850px) { #navbar-example3 {width: 200px; } }
@media (max-width: 800px) { #navbar-example3 {width: 190px; height:1000px; } }
@media (max-width: 780px) { #navbar-example3 {width: 180px; height:1000px; } }
@media (max-width: 770px) { #navbar-example3 {width: 170px;  height:1000px;} }
@media (max-width: 730px) { #navbar-example3 {width: 130px;  height:1000px; } }
@media (max-width: 992px) { /* Ajusta para telas menores */
    #navbar-example3 {
        max-height: 50vh; /* Ajusta a altura em telas menores */
    }
}
*/

.img-guia {
    width: 100%; /* ou qualquer largura desejada */
    max-width: 600px; /* um exemplo de largura máxima para a div */
    margin: auto; /* centraliza a div se a largura for menor que a largura da janela */
}

.img-guia img {
    width: 100%; /* faz a imagem se ajustar à largura da div */
    height: auto; /* mantém as proporções da imagem */
}