.minha-div {
    width: 80%;        /* Define a largura para 80% da largura da tela */
    margin: 0 auto;    /* Margem automática para centralizar */
    padding-top: 80px; 
}
.meu-paragrafo {
    text-align: left;
    max-width: 600px; /* ou outra medida que prefira */
    
}