* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: black;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  main {
    padding: 20px;
    text-align: center;
    color: #000000;
    background-color: #fff;
    min-height: 80vh;
    max-width: 80vh;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="file"],
  button {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #graph {
    margin-top: 20px;
  }