input[type="checkbox"]:checked+.btn {
    color: #ffffff;
    background: #676767 !important;
}

input[type="checkbox"]:hover+.btn {
    color: #ffffff;
    background: #676767 !important;
}

.adjust-side-menu {
        margin-left: 30vh;
    }
    
.custom-style { /* pilulas sites */
        border: 1px solid #fd7e14 !important;
        color: #fd7e14 !important;
        background-color: transparent !important;
        opacity: 0.8 !important;
}