.minha-div {
    width: 80%;        /* Define a largura para 80% da largura da tela */
    margin: 0 auto;    /* Margem automática para centralizar */
    padding-top: 70px;
}

.minha-div-membros {
    width: 80%;        /* Define a largura para 80% da largura da tela */
    margin: 0 auto;    /* Margem automática para centralizar */
    padding-top: 10px; 
}

.meu-paragrafo {
    text-align: left;
    max-width: 600px; /* ou outra medida que prefira */  
}

.member-card {
    border: 0px solid #1C1C1C;
    background-color: #1C1C1C;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.member-img {
    width: 120px; /* Ajuste conforme necessário */
    height: 160px; /* Ajuste conforme necessário */
    background-color: #f8f9fa;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}