.minha-div {
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}

.timeline ul {
    list-style-type: none;
    position: relative;
    padding: 0;
}

.timeline ul::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 0;
    width: 2px;
    background: #fd7e14;
}

.timeline ul li {
    margin: 20px 0;
    position: relative;
}

.timeline ul li::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 46%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    z-index: 5;
}

.content.visible {
    opacity: 1;
    transform: translateX(0); /* Move para a posição original */
}

.content {
    opacity: 0;
    transform: translateX(-70px);
    width: 45%;
    padding: 10px;
    background: #fd7e14;
    position: relative;
    border-radius: 10px;
    animation: flutuacao 4s ease-in-out infinite;
    text-decoration: none; 
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, color 0.2s ease;
    cursor: pointer;
}

.content:hover {
    transform: scale(1.05); /* Aumenta ligeiramente ao passar o mouse */
    color: #ffffff; /* Opcional: muda a cor do texto ao passar o mouse */
    background: #f57307;
}

.content:active {
    transform: scale(0.95); /* Diminui ligeiramente ao clicar */
}

.timeline ul li:nth-child(odd) .content {
    left: 0;
}

.timeline ul li:nth-child(even) .content {
    left: 55%;
}

@media screen and (max-width: 800px) {
    .timeline ul::after {
        left: 0%; /* Linha ao lado esquerdo para melhor visualização */
    }

    .timeline ul li::before {
      left: 0%; /* Ajustar bolinhas para alinhar com a linha */
    }

    .content {
        width: 80%; /* Ajustar largura do conteúdo */
        left: 10%; /* Centralizar conteúdo horizontalmente */
        /*transform: none;  Remover transformações */
    }

    .timeline ul li:nth-child(odd) .content,
    .timeline ul li:nth-child(even) .content {
        left: 10%; /* Uniformizar alinhamento de conteúdo */
    }
}