{% extends "base.html" %}

{% block content %}
  <h1>Change password</h1>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
  <form method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="newpassword" placeholder="New Password" required>
    <input type="password" name="confirm_newpassword" placeholder="Confirm your new password" required>
    <button type="submit">Submit</button>
  </form>
{% endblock %}