{% extends "base.html" %}

{% block head %}
<style type="text/css">
  input[type="checkbox"]:checked+.btn {
    color: #ffffff;
    background: #676767 !important;
  }

  input[type="checkbox"]:hover+.btn {
    color: #ffffff;
    background: #676767 !important;
  }

  #plotDiv {
    text-align: center;
    width: 100% !important;
    position: relative;
  }

  .clicked {
    background-color: #343A40; /* Cor de fundo quando o botão é clicado */
    color: white;
  }

  .scrollbar{
    overflow-y: scroll;
  }

  .adjust-side-menu {
        margin-left: 30vh;
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex flex-column w-100 pe-1 align-items-center adjust-side-menu" style="text-align: center; min-height: 100vh">
  <!-- menu inicial -->
  {% if not plot %}
  <p class="fs-3 fw-semibold my-0 py-2 ps-3 text-bg-secondary w-100">Escolha um tipo de visualização</p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p class="fs-3  fw-semibold my-0 py-2 pt-3 text-danger">{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <a href="{{ url_for('dataview', username=username, plot='heatmap') }}" aria-current="true"
      class="text-decoration-none" style="flex-basis: 33.33%;">
      <div
        class="btn d-flex flex-column bg-body-tertiary me-md-3 my-0 py-0 pt-3 px-3 px-md-3 text-center overflow-hidden border-0"
        style="height: 80vh;">
        <div class="my-3 p-3">
          <h2 class="display-5">Mapa de calor temporal</h2>
          <p class="lead">Visualize as interações do usuário de forma interativa ao longo do tempo, como um vídeo.</p>
        </div>
        <div class="d-flex bg-dark shadow-sm mx-auto justify-content-center mt-auto"
          style="width: 100%; height: 37%; border-radius: 21px 21px 0 0;">
          <img src="{{ url_for('static', filename='heatmap.svg')}}" class="img-fluid p-2" style="width: auto; height: 100%;">
        </div>
      </div>
    </a>
    <a href="{{ url_for('dataview', username=username, plot='recording') }}" aria-current="true"
      class="text-decoration-none" style="flex-basis: 33.33%;">
      <div
        class="btn d-flex flex-column bg-body-tertiary me-md-3 my-0 py-0 pt-3 px-3 px-md-3 text-center overflow-hidden border-0"
        style="height: 80vh;">
        <div class="my-3 p-3">
          <h2 class="display-5">Explorador de Interações</h2>
          <p class="lead">Visualize as diferentes interações dos usuários, como movimentos do mouse, cliques, entradas de teclado, fixações e movimentações visuais, de maneira consolidada e intuitiva.</p>
        </div>
        <div class="d-flex bg-dark shadow-sm mx-auto justify-content-center align-items-center mt-auto"
          style="width: 100%; height: 37%; border-radius: 21px 21px 0 0;">
          <img src="{{ url_for('static', filename='Interacao.png')}}" class="img-fluid p-2"
            style="width: auto; height: 100%;">
        </div>
      </div>
    </a>
    <a href="#" aria-current="true" class="text-decoration-none disabled" style="flex-basis: 33.33%;">
      <div
        class="btn d-flex flex-column bg-body-tertiary me-md-3 my-0 py-0 pt-3 px-3 px-md-3 text-center overflow-hidden border-0 disabled"
        style="height: 80vh;">
        <div class="my-3 p-3">
          <h2 class="display-5">Funcionalidade futura</h2>
          <p class="lead">Fique atento às nossas atualizações.</p>
        </div>
        <div class="d-flex bg-dark shadow-sm mx-auto justify-content-center mt-auto"
          style="width: 100%; height: 37%; border-radius: 21px 21px 0 0;">
          <img src="{{ url_for('static', filename='coming-soon.png')}}" class="img-fluid p-2"
            style="width: auto; height: 100%;">
        </div>
      </div>
    </a>
  </div>

  <!-- seleção do dado -->
  {% else %}
  <div class="list-group flex-lg-column-reverse w-100">
    {% for data in items%}
    <a href="javascript:;" onclick="submitdata(this.getAttribute('data-value'), this.getAttribute('data-plot'))"
      data-value="{{ data['dir'] }}" data-plot="{{ plot }}"
      class="list-group-item align-items-center list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar3"
        viewBox="0 0 16 16">
        <path
          d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
        <path
          d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
      </svg>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-1">Dia: {{ data['date'] }}</h6>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi me-2 bi-clock-history" viewBox="0 0 16 16">
            <path
              d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
            <path
              d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
          </svg><span class="mb-0 opacity-75">Às {{ data['hour'] }}</span>
        </div>
        <div>
          <h6 class="mb-2" style="text-align: end;">Páginas coletadas</h6>
          {% for page in data['pages'] %}
          <small class="opacity-50 text-nowrap border px-2 py-1 ms-1 rounded-pill">{{ page }}</small>
          {% endfor %}
        </div>
      </div>
    </a>
    {% endfor %}

    {% if plot == "heatmap" or   plot == "nlp" %}
        <!-- popup de resultado -->
      <div class="modal fade" id="resultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title w-100" id="resultModalLabel">Plotagem</h5>
            <button type="button" onclick="closePopupResult()" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="list-group modal-body align-items-center justify-content-center gap-3" style="text-align: center;">
            <div class="list-group-item">
              <div class="spinner-border text-secondary" id="spinner" role="status"></div>
              <div id="resultPlot"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
      
      <script type="text/javascript">
        function submitdata(data, plot) {
          $("#resultModal").modal('show');
          $.post("{{ url_for('dataview', username=username, plot=plot) }}",
            {
              dir: data
            },
            function (result) {
              document.getElementById("spinner").style.display = "none";
              $('#resultPlot').html(result);
            });
        };
        function closePopupResult() {
          document.getElementById("spinner").style.display = "inline-flex";
          $('#resultPlot').html('');
        };
      </script>
    {% endif %}

    {% if plot == "recording" %}
       <!-- popup de resultado -->
       <div class="modal fade" id="resultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
        <div class="modal-content" id="modalContent">
          <!--header modal-->
          <div class="modal-header text-center">
            <h5 class="modal-title w-100" id="resultModalLabel">Plotagem</h5>
            <button type="button" onclick="closePopupResult()" class="btn-close" data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <!--body Modal-->
          <div class="modal-body d-flex flex-row align-items-start justify-content-between gap-3">
              <!--coluna da parte do site-->
              <div class="d-flex flex-column h-100" id="sites" style="width: 32%;">
                <div class="w-100" style="text-align: left; padding-left: 10%;">
                  <h4 id="sites_heading">Sites</h4>
                </div>
                <!--Botões do site-->
                <div class="w-100 scrollbar" style="height: 50%;">
                  <div class="list-group"  id="dropdown-list">  
                </div>  
                </div>
              </div>
              <!--plot-->
              <div class="list-group w-100" style="max-height: 100%;" id="group">
                <div class="list-group-item" >
                    <!-- <div class="spinner-border text-secondary" id="spinner"  role="status" ></div> -->
                    <div id="resultPlot"></div>
                </div>
              </div>
            </div>
           </div>
        </div>
      </div>
       
       <script type="text/javascript">
         var result2;
         function submitdata(data, plot) {
          //Quando chama o model alguns elementos são configurados para serem ocultados 
          $("#resultModal").modal('show'); 
          document.getElementById("sites").style.display = "none"; 
          $("#sites_heading").hide(); 
          document.getElementById("group").style.display = "none"; 
          
          //criando o modal-body para o spinner
          var modalBody = createModalBody();

          var modalContent = document.querySelector('#modalContent');
          modalContent.appendChild(modalBody);

          //solicitação para a rota dataview
          $.post("{{ url_for('dataview', username=username, plot=plot) }}",
          {
            dir: data
          },
          function (result) {
              //Quando recebe o resultado os dados são exibidos seja gráfico ou texto
              var result1 = result.result1;
              result2 = result.result2;
              
              //Se `result2` for verdadeiro, o corpo do modelo do spinner desaparece e o resultado do gráfico é exibido.
              if (result2 == true){
                $("#sites_heading").show();
                document.getElementById("modalBody").remove();
                document.getElementById("group").style.display = "inline-flex"; 
                document.getElementById("sites").style.display = "inline-flex";
                botaoSites(result1);
              }else{
                $('#resultText').html(result1);
                document.getElementById("spinner").style.display = "none";
              }
            });
          };
          function closePopupResult() {
             //limpa os elementos da lista de botoes quando fecha o model
            var nameSites = document.getElementById("dropdown-list");
            nameSites.innerHTML = '';

            //oculta o conteúdo do gráfico e lista de botoes
            document.getElementById("group").style.display = "none"; 
            document.getElementById("sites").style.display = "none";

            //se `result2` for falso vai remover o modal-body do spinner para evitar duplicações
            if (result2 == false){
              document.getElementById("modalBody").remove();
            }

            //criando novamente o modal-body do spinner
            var modalBody = createModalBody();

            var modalContent = document.querySelector('#modalContent');
            modalContent.appendChild(modalBody);

            $('#resultPlot').html('');

            // Aqui, definimos um atraso de 1000 milissegundos (1 segundo) antes de remover o modal-body do spinner
            setTimeout(function() {
                document.getElementById("modalBody").remove();
            }, 1000);
          };

         //funcao para a lista de botoes
         function botaoSites(result){
            var nameSites = document.getElementById("dropdown-list");

            //verificação para expor automaticamente o hover do primeiro site
            var firstItem = true; 

            // Define a função de clique
            function handleClick(key) {
              return function() {
                // Remove a classe "clicked" de todos os botões
                var buttons = document.querySelectorAll('.list-group-item');
                buttons.forEach(function(button) {
                  button.classList.remove("clicked");
                });
                
                //mostra o conteúdo do ploty
                $('#resultPlot').html(result[key]); 

                // Adiciona a classe para alterar a cor de fundo quando o botao e clicado
                this.classList.add("clicked");
              };
            }

            //cria os elementos dentro da div com id ´dropdown-list´
            for (var key in result){
              if (result.hasOwnProperty(key)){
                var link = document.createElement("a");
                link.setAttribute("class", "list-group-item border border-0");
                link.setAttribute("href",  "#");
                
                link.textContent = key;
                nameSites.appendChild(link);

                // Atribui o evento de clique usando a função handleClick
                link.addEventListener("click", handleClick(key));

                if (firstItem){
                  link.click();
                  firstItem = false;
                }
              }
            };
         };
         // cria o elemento modal-body do spinner
         function createModalBody() {
          var modalBody = document.createElement('div');
          modalBody.className = 'modal-body h-100 d-flex align-items-center justify-content-center gap-3';
          modalBody.id = 'modalBody';

          // Criação do elemento list-group
          var listGroup = document.createElement('div');
          listGroup.className = 'list-group';

          // Criação do elemento list-group-item
          var listGroupItem = document.createElement('div');
          listGroupItem.className = 'list-group-item';

          // Criação do elemento spinner
          var spinner = document.createElement('div');
          spinner.className = 'spinner-border text-secondary';
          spinner.id = 'spinner';
          spinner.setAttribute('role', 'status');

          var resultText = document.createElement('div');
          resultText.id = 'resultText';

          // Adicionando o spinner e o resultText ao list-group-item
          listGroupItem.appendChild(spinner);
          listGroupItem.appendChild(resultText);

          // Adicionando o list-group-item ao list-group
          listGroup.appendChild(listGroupItem);

          // Adicionando o list-group ao modal-body
          modalBody.appendChild(listGroup);

          // Retorna o modal-body para ser usado posteriormente
          return modalBody;
        }
       </script>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <p class="fs-3 fw-semibold my-0 py-2 ps-3 text-bg-secondary w-100">Selecione a coleta que irá visualizar pelo método
      {{ plot|capitalize }}</p>
  </div>
  {% endif %}
</div>
{% endblock %}