{% extends "base.html" %}

{% block content %}
  <h1>Change password</h1>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  {% if metadata == 'datetime' %}
    <form method="POST">
      {% for date in items%}
        <input type="checkbox" name= "dates[]" value= "{{ date }}">
        <label for="{{ date }}"> {{ date }} </label><br>
      {% endfor %}
      <input type="submit" value="Enviar">
    </form>

  {% elif metadata == 'pages' %}
    <form method="POST">
      {% for page in items%}
        <input type="checkbox" name= "pages[]" value= "{{ page }}">
        <label for="{{ page }}"> {{ page }} </label><br>
      {% endfor %}
      <input type="submit" value="Enviar">
    </form>

  {% else %}
  
  {% endif %}

{% endblock %}