<!DOCTYPE html>
<html>

<head>
	<title>Teste serviço Geometa</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/email.css') }}">
</head>

<body style="background-color: rgb(36, 36, 36); text-align: center;">
	<section>
		<img style="width: 13%; margin: auto; padding: 3em;" src="{{ url_for('static', filename='logo.png' )}}" alt="UX-Tracking Logo">
        <br>
		<h1 style="color: whitesmoke">User eXperience Tracking</h1>
        <br>
        <p style="color: white">Dear {{ username }},</p>
        <br>
        <p>We are sending you this message because you have been asked to reset your password on our platform, the new password generated for your account is below:</p>

        <div class="block">
			<h1>Serviço de processamento de imagens</h1><br>
			<form action="http://127.0.0.1:5000/receiver" method="POST" enctype="multipart/form-data">
				<input type="file" name="image" id="image"><br><br>
				<label for="image">
					<i class="glyphicon glyphico-open"></i>
					&nbsp;Escolher um arquivo
				</label><br><br><br>
				<span>
					<strong>Arquivo escolhido:</strong>
					<span id="image-chosen">None</span>
				</span>
				<button type="submit">ENVIAR</button>
			</form>
		</div>
	</section>
</body>

</html>