{% extends "base.html" %}
{% block content %}
    <h1>Home</h1>
    {% if session %}
        <ul class="menu">
            <a href="{{url_for('static', filename='UX-Tracking Tools.zip')}}">Ferramentas de Pós-processamento</a>
            <a href="{{url_for('static', filename='UX-Tracking Extension.zip')}}">Extensão</a>
            <a href="https://github.com/Colab-UNIRIO-UFPA/UX-Tracking#readme">Manual de Uso</a>
            <a href="https://github.com/Colab-UNIRIO-UFPA/UX-Tracking">Repositório</a>
        </ul>
    {% endif %}
{% endblock %}