{% extends "base.html" %}
{% block head %}
  <style type="text/css">    
    .form-signin {
      max-width: 350px;
      padding: 1rem;
    }
    
    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
    
    .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    .form-signin input[type="password"] {
      margin-bottom: 0px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .form-signin button[type="submit"] {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  </style>
{% endblock %}


{% block content %}
  <div class="form-signin w-100 m-auto">    
    <form method="POST">
      {% if error %}
        <p>{{ error }}</p>
      {% endif %}

      <h1 class="h2 mb-4 mt-5 fw-normal" style="text-align: center;">Faça o login</h1>

      <div class="form-floating">
        <input type="text" name="username" class="form-control" id="floatingInput" placeholder="User123Example">
        <label for="floatingInput">Nome de usuário</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Senha</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">Login</button>

      <p style="text-align: center;"><br>
        <a href="{{ url_for('forgot_pass') }}">Esqueceu a senha?</a><br>
        <a href="{{ url_for('register') }}">Não tem uma conta?</a>
      </p>

      <p class="mt-5 mb-3 text-body-secondary">&copy; UX-Tracking: User eXperience Tracking</p>
    </form>

  </div>
{% endblock %}