{% extends "base.html" %}

{% block content %}
  <h1>Registrar</h1>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
  <form method="POST">
    <input type="text" name="username" placeholder="Nome de usuário" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Senha" required>
    <input type="password" name="confirm_password" placeholder="Confirmar senha" required>
    <button type="submit">Registrar</button>
  </form>
{% endblock %}