{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/data_filter.css') }}">

{% endblock %}

{% block content %}
<div class="form-signin w-100 pe-1 pt-0 adjust-side-menu" style="text-align: center; min-height: 100vh">
  {% if metadata == 'datetime' %}
  <p class="fs-3 fw-bold my-0 py-2 ps-3 text-white bg-body-tertiary">Selecione as coletas que deseja baixar</p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form id="dataForm" method="POST">
    <div class="d-flex flex-column py-0 list-group">
      {% for data in items%}
      <label
        class="d-flex gap-2 w-100 py-0 rounded-0 border-bottom justify-content-between align-items-center"> <!-- border-secondary-subtle -->

        <input class="btn-check" type="checkbox" name="dates[]" value="{{ data['id'] }}" autocomplete="off" onchange="updateLocalStorage(this)">

        {% if loop.first %}
        <div class="d-flex btn list-group-item w-100 p-2 rounded-0 justify-content-between border-0 cor-preto1" for="btn-check">
          {% elif loop.last %}
          <div class="d-flex btn list-group-item w-100 p-2 rounded-0 justify-content-between border-0 cor-preto1" for="btn-check">
            {% else %}
            <div class="d-flex btn list-group-item w-100 p-2 rounded-0 justify-content-between border-0 cor-preto1"
              for="btn-check">
              {% endif %}
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                  class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path
                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                  <path
                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
                <h6 class="mb-1">Dia: {{ data['date'] }}</h6>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi me-2 bi-clock-history" viewBox="0 0 16 16">
                  <path
                    d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                  <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                  <path
                    d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                </svg><span class="mb-0 opacity-75">Às {{ data['time'] }}</span>
              </div>
              <div class="d-flex flex-wrap justify-content-end align-items-center">
                <h6 class="mb-2 w-100 text-white" style="text-align: end;">Páginas coletadas</h6>
                {% for site in data['sites'] %}
                <small class="text-bg-light opacity-100 text-nowrap border px-2 py-1 ms-1 rounded-pill custom-style">{{ site
                  }}</small>
                {% endfor %}
              </div>
            </div>
      </label>
      {% endfor %}
    </div>
    <div class="py-2 px-2">
      <div class="row">
        <div class="col-md-4">
          <div class="mt-4 ml-4 mx-4">
            {% if page_obj.has_other_pages() %}
            <ul class="pagination">
              {% if page_obj.number != 1%}
              <li class="page-item">
                <a class="page-link text-white text-body-secondary"
                  href="{{ url_for('data_bp.datafilter_get', username=username, metadata=metadata, page_number=1)}}">Início</a>
              </li>
              {% else %}
              <li class="page-link text-body-secondary text-white disabled">Início</li>
              {% endif %}

              {% for i in page_obj.paginator.page_range %}
              {% if i >= page_obj.number - 2 and i <= page_obj.number + 2 %} <li
                class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link text-body-secondary"
                  href="{{ url_for('data_bp.datafilter_get', username=username, metadata=metadata, page_number=i) }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if page_obj.number != page_obj.paginator.num_pages%}
                <li class="page-item">
                  <a class="page-link text-body-secondary"
                    href="{{ url_for('data_bp.datafilter_get', username=username, metadata=metadata, page_number=page_obj.paginator.num_pages)}}">Final</a>
                </li>
                {% else %}
                <li class="page-link text-body-secondary disabled">Final</li>
                {% endif %}
            </ul>
            {% endif %}

          </div>
        </div>
        <div class="col-md-4 offset-md-4" style="text-align: end;">
          <button id="btnProximo" class="btn btn-secondary w-50 my-4 mx-5 text-white" type="submit" value="Enviar">Próximo</button>
        </div>
      </div>
    </div>
  </form>

  {% elif metadata == 'pages' %}
  <h1 class="h2 mb-4 mt-5 fw-normal text-white" style="text-align: center;">Selecione as páginas que deseja baixar</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form method="POST">
    <div class="list-group align-items-center py-3">
      {% for page in items%}
      <label class="d-flex gap-2 w-50 py-1">
        <input class="btn-check" type="checkbox" name="pages[]" value="{{ page }}" autocomplete="off">
        <div class="btn btn-secondary w-100 p-2 rounded-0 text-white" for="btn-check">
          <span >{{ page }}</span>
        </div>
      </label>
      {% endfor %}
    </div>

    <button class="btn btn-secondary w-25 py-2 my-4 text-white" type="submit" value="Enviar">Baixar</button>
  </form>
  {% endif %}
</div>

<script src="{{ url_for('static', filename='js/data_filter.js') }}"></script>

{% endblock %}