{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/data_analysis.css') }}">

{% endblock %}

{% block content %}
  <div class="d-flex flex-column w-100 pe-1 align-items-center adjust-side-menu" style="text-align: center; min-height: 100vh">
    <!-- menu inicial -->
    {% if not model %}
      <p class="fs-3 fw-bold my-0 py-2 ps-3 text-white bg-body-tertiary w-100 ">Escolha uma análise</p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="fs-3  fw-semibold my-0 py-2 pt-3 text-danger">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <a href="{{ url_for('data_bp.dataanalysis_get', username=username, model='bertimbau') }}" aria-current="true" class="text-decoration-none">
          <div class="btn d-flex text-with-shadow flex-column bg-body-tertiary me-md-3 my-0 py-0 pt-3 px-3 px-md-3 text-center overflow-hidden border-0" style="height: 80vh;">
            <div class="my-3 p-3 align-self-start">
              <h2 class="display-5">BERTimbau</h2>
              <p class="lead">Descubra insights profundos através da Análise de Sentimentos por Processamento de Linguagem Natural (NLP).</p>
            </div>
            <div class="d-flex bg-dark shadow-sm mx-auto justify-content-center mt-auto align-self-end align-items-center" style="width: 100%; height: 240px; border-radius: 21px 21px 0 0;">
              <img src="{{ url_for('static', filename='bertimbau.svg')}}" class="img-fluid" style="width: auto; height: 200px;">
            </div>
          </div>
        </a>
        <a href="{{ url_for('data_bp.dataanalysis_get', username=username, model='kmeans') }}" aria-current="true" class="text-decoration-none">
          <div class="btn d-flex text-with-shadow flex-column bg-body-tertiary me-md-3 my-0 py-0 pt-3 px-3 px-md-3 text-center overflow-hidden border-0 disabled" style="height: 80vh;">
            <div class="my-3 p-3 align-self-start">
              <h2 class="display-5">K-Means</h2>
              <p class="lead">Explore a análise de dados com K-Means! Descubra padrões e insights Valiosos para sua avaliação de UX.</p>
            </div>
            <div class="d-flex bg-dark shadow-sm mx-auto justify-content-center mt-auto align-self-end align-items-center" style="width: 100%; height: 240px; border-radius: 21px 21px 0 0;">
              <img src="{{ url_for('static', filename='kmeans.svg')}}" class="img-fluid" style="width: auto; height: 200px;">
            </div>
          </div>
        </a>
        <a href="{{ url_for('data_bp.dataanalysis_get', username=username, model='meanshift') }}" aria-current="true" class="text-decoration-none">
          <div class="btn d-flex text-with-shadow flex-column bg-body-tertiary me-md-3 my-0 py-0 pt-3 px-3 px-md-3 text-center overflow-hidden border-0 disabled" style="height: 80vh;">
            <div class="my-3 p-3 align-self-start">
              <h2 class="display-5">Meanshift</h2>
              <p class="lead">Desvende padrões complexos com MeanShift! Explore uma análise avançada e revele insights surpreendentes!</p>
            </div>
            <div class="d-flex bg-dark shadow-sm mx-auto justify-content-center mt-auto align-self-end align-items-center" style="width: 100%; height: 240px; border-radius: 21px 21px 0 0;">
              <img src="{{ url_for('static', filename='meanshift.svg')}}" class="img-fluid" style="width: auto; height: 200px;">
            </div>
          </div>
        </a>
      </div>
    
    <!-- seleção do dado -->
    {% else %}
      <!-- popup de resultado -->
      <div class="modal modal-xl fade" id="resultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h5 class="modal-title w-100" id="resultModalLabel">Resultado</h5>
              <button type="button" onclick="closePopupResult()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="list-group modal-body align-items-center justify-content-center gap-3 w-100" style="text-align: center;">
              <div class="list-group-item border-0 w-100">
                <div class="spinner-border text-secondary" id="spinner" role="status"></div>
                <div  id="resultplot"></div>
                <button type="button" onclick="clickbutton()" id="mybutton" class="btn btn-secondary mt-3" style="width: 250px">Baixar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="list-group flex-lg-column w-100">
        <p class="fs-3 fw-semibold my-0 py-2 ps-3 text-white bg-body-tertiary w-100">Selecione a coleta que irá processar com o modelo {{ model|capitalize }}</p>
        {% for data in items%}
          <a href="javascript:;" onclick="submitdata(this.getAttribute('data-value'), this.getAttribute('url_data'), this.getAttribute('url_audio'))" data-value="{{ data['id'] }}"  url_data="{{url_for('data_bp.dataanalysis_post', username=username, model=model)}}" url_audio="{{url_for('data_bp.downloadAudio')}}" class="list-group-item align-items-center list-group-item-action d-flex gap-3 py-3 cor-preto1" aria-current="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                <h6 class="mb-1">Dia: {{ data['date'] }}</h6>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi me-2 bi-clock-history" viewBox="0 0 16 16">
                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                  </svg><span class="mb-0 opacity-75">Às {{ data['time'] }}</span>
                </div>
                <div>
                    <h6 class="mb-2 w-100 text-white" style="text-align: end;">Páginas coletadas</h6>
                    {% for page in data['sites'] %}
                        <small class="text-bg-light opacity-100 text-nowrap border px-2 py-1 ms-1 rounded-pill custom-style">{{ page }}</small>
                    {% endfor %}
                </div>
              </div>
            </a>
        {% endfor %}

        <div class="mt-4 ml-4 mx-4">
          {% if page_obj.has_other_pages() %}
          <ul class="pagination">
              {% if page_obj.number != 1%}
                <li class="page-item">
                  <a class="page-link text-body-secondary" href="{{ url_for('data_bp.dataanalysis_get', username=username, model=model, page_number=1)}}">Início</a>
                </li>
              {% else %}
                <li class="page-link text-body-secondary disabled">Início</li>
              {% endif %}

            {% for i in page_obj.paginator.page_range %}
              {% if i >= page_obj.number - 2 and i <= page_obj.number + 2 %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link text-body-secondary" href="{{ url_for('data_bp.dataanalysis_get', username=username, model=model, page_number=i) }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.number != page_obj.paginator.num_pages%}
              <li class="page-item">
              <a class="page-link text-body-secondary" href="{{ url_for('data_bp.dataanalysis_get', username=username, model=model, page_number=page_obj.paginator.num_pages)}}">Final</a></li>
            {% else %}
              <li class="page-link text-body-secondary disabled">Final</li>
            {% endif %}
          </ul>
          {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/data_analysis.js')}}"></script>
{% endblock %}
  