{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

{% endblock %}

{% block content %}
<div class="mt-5">
  <div class="container minha-div mt-5" style="width: 79%; min-height:77vh">
    <div class="row mt-5">
      <div class="col-sm-7 mt-5" >
        <div class="justify-content-center mt-2 align-items-center">
          <h1 class="display-6 fw-bold text-body-emphasis justify-content-center lh-1 mb-3" >Obtenha o acesso a todas as funcionalides do UX-Tracking</h1>
          <p class="lead" style="text-align: justify;">Realize seu cadastro para obter a extensão de captura de dados multimodal da UX-Tracking e uma variedade de funcionalidades para aprimorar sua avaliação de UX. Preencha suas informações para obter acesso imediato a nossa plataforma e o download da extensão.</p>
        </div>
      </div>
      <div class="col-sm-5">
          <div class="form-signup justify-content-center w-100 m-auto">    
            <form method="POST">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}

              <h1 class="h2 my-4 fw-normal" style="text-align: center;">Faça o registro</h1>

              <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="User123Example">
                <label for="floatingInput">Nome de usuário</label>
              </div>
              <div class="form-floating">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="example@email.com">
                <label for="floatingPassword">Endereço de email</label>
              </div>
              <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" style="
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;">
                <label for="floatingPassword">Senha</label>
              </div>
              <div class="form-floating">
                <input type="password" name="confirm_password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Confirme sua senha</label>
              </div>

              <button class="btn btn-primary w-100 py-2 my-3 text-white" type="submit">Registrar</button>

              <!-- desativado
              <h1 class="h4 mb-3 fw-normal" style="text-align: center;">ou</h1>
              
              <div style="text-align:center">
                <a href="{{ url_for('auth_bp.google') }}">
                  <button type="button" class="login-with-google-btn">
                    Registre-se com o Google
                  </button>
                </a>
              </div>
            -->
              <p class="mt-n1" style="text-align: center;"><br>
                <a href="{{ url_for('pass_bp.forgot_pass_get') }}">Esqueceu sua senha?</a><br>
                <a href="{{ url_for('auth_bp.login_get') }}">Já tem conta?</a>
              </p>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}